.calendar-cards {
  display: flex;
  flex-direction: column;
   /* margin-left: 20vw; 
   margin-right: 20vw;  */
   margin-right: 20vw;
  margin-top: 10px;
  width: 100%;
}

.calendar-cards > a {
  text-decoration:none;
  color: black;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.date {
  flex: 1;
}

.info {
  font-family: "Quicksand", sans-serif;
  flex: 4;
  text-align: center;
}

.artist {
  font-size: x-large;
}

.location {
  font-size: large;
}

.material-symbols-outlined {
  flex: 1;
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
}

@media (min-width: 768px) {
  .calendar-cards {
    display: flex;
    flex-direction: column;
    /* margin-left: 20vw; */
    margin-right: 20vw;
    margin-top: 2vh;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

#Sold-out{
  color:red;
  font-weight: bold;
}

#Few-tickets{
  color:orange;
  font-weight: bold;
}

#Available-tickets{
  color:lightgreen;
  font-weight: bold;
}
