.eventcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 100vw;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  padding: 5px;
}
.sold-out{
  color: rgb(249, 67, 67);
}
.event-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-image > img {
  width: 100%;
  height: auto;
}


.eventinfo-audio {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.venue-info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.venue-info-1 > h2,
h3,
h4,
p {
  margin: 0;
}
.venue-info-1 > p {
  margin-top: 5px;
}

.venue-info-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.payment {
  margin-top: 3vh;
}

#event-toggle-modal-btn {
  margin-top: 10px;
  color: white;
  background-color: #60c7a2;
  border: 0;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

#livestream-button {
  margin-top: 20px;
  cursor: pointer;
}
.eventinfo-audio {
    margin: 5px;
    margin-top: 20px;
  }

@media screen and (min-width: 768px) {
  .event-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 100vw;
    margin-top: 10px;
  }
  .venue-info-1 {
    margin: 50px;
  }
  .event-image {
    margin: 50px;
  }

  .eventinfo-audio {
    margin: 5px;
    margin-top: 20px;
  }

  .venue-info-2 > p {
    margin-top: 10px;
  }

  #livestream-button {
    margin-top: 20px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1000px) {
  .event-date-time {
    font-size: 40px;
  }
}
