.Navbar-Footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #343a40;
    height: 50px;
    position:sticky; 
    bottom: 0;
}

.Navbar-Footer > button{
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #343a40;
}

.Navbar-Footer > button > a{
    background-color: #343a40;
    color: white;
    display: inline-block;
}

@media screen and (min-width: 678px){
    .Navbar-Footer > button{
        display: none;
    }

    .Navbar-Footer{
        position: absolute;
        bottom:auto;
        margin-top: auto;
        margin-bottom: 10px;
    }

    p{
        color:white;
        flex-direction: column;
    }
}

@media screen and (max-width: 678px){
    p{
        display: none;
    }
}