.Navbar-Footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #343a40;
  height: 6vh;
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

.Navbar-Footer>button {
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #343a40;
}

.Navbar-Footer>button>a {
  background-color: #343a40;
  color: white;
  display: inline-block;
}

@media screen and (min-width: 769px) {
  .Navbar-Footer>button {
    display: none;
  }

  #navbar-footer-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0 10px 0;
    margin-top: auto;
    height: 10vh;
  }

  #footer-text {
    color: white;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #footer-text {
    display: none;
  }
}