.livestream-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.livestream-media {
  padding: 2px 15px 0 15px;
  background-color: lightgrey;
}

.livestream-media>video {
  width: 100%;
  height: auto;
}

.livestream-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
  width: 100%;
  margin-left: 30px;
}

.livestream-content>h2 {
  margin-top: 0;
  margin-bottom: 2px;
}

.livestream-title-break {
  width: 100%;
  background-color: #343a40;
  margin-left: 0;
  align-self: center;
}


@media screen and (max-width: 400px) {
  .livestream-content {
    margin: 0;
  }
}

.livestream-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  background-color: #60c7a2;
  border-radius: 5px;
  margin: 20px 50px;
}

.livestream-error-btn {
  color: #60c7a2;
  background-color: #343a40;
  border: 1px solid #60c7a2;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .livestream-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 100vw;
    margin-top: 10px;
    padding: 0 35px 0 35px;
    background: rgb(52, 58, 64);
    background: linear-gradient(308deg, rgba(52, 58, 64, 1) 33%, rgba(96, 199, 162, 0.8916608879880077) 69%);
  }

  .livestream-media>video {
    margin-top: 20px;
  }

  .livestream-media {
    background-color: transparent;
  }

  .livestream-content {
    background-color: white;
    width: 85%;
    align-self: center;
    margin: 20px 0 20px 0;
  }

  #livestream-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}