.payticketsdiv {
  display: grid;
  border-radius: 5px;
  width: auto;
  margin: 5px;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.payevent {
  margin-top: -15px;
}

.payh2 {
  display: grid;
  justify-content: center;
  margin: 7px;
  margin-bottom: 15px;
}

.payticketschoice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 6px;
}

.payticketschoice > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.paynumberOfTickets {
  height: 4vh;
  width: 8vh;
  align-self: center;
  justify-self: end;
}

.paysetRight {
  display: grid;
  justify-content: flex-end;
  padding-right: 10px;
}

.paytotalPrice {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pay-continue-btn {
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  background-color: #60c7a2;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

#pay-continue-btn:hover {
  font-size: 120%;
}

#pay-confirm-buy {
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  background-color: #60c7a2;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#pay-cancel-btn {
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  background-color: lightcoral;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#pay-cancel-btn:hover {
  font-size: 120%;
}

#pay-confirm-buy:hover {
  font-size: 120%;
}

#stripe-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payhr {
  margin: 0;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 10px;
}

.paybtn {
  border-radius: 5px;
  margin: 8px;
  color: white;
  background-color: #60c7a2;
  border: 0;
}

.paycounter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.paycounter > button {
  margin: 8px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.paycounter > p {
  justify-self: center;
}

.confirmdiv {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 2vh;
  gap: 15px;
}

.confirmdiv > a {
  padding: 20px;
  text-decoration: none;
}

#pay-livestream-info {
  color: red;
  margin-top: 15px;
}

#pay-amountoftickets {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  #stripe-btns {
    flex-direction: row;
  }
}
