.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#register-header {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.register-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register-button {
  align-self: center;
  margin-top: 10px;
  background-color: #60c7a2;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.label-text {
  font-weight: 1000;
}

.register-page-error {
  color: rgb(232, 62, 62);
  text-align: center;
  font-size: medium;
  margin-bottom: 2vh;
  text-align: center;
}

@media screen and (min-width: 768px) {
}
