.search-container {
  /* background-color: #60c7a2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.search-container>h2 {
  color: #343A40;
  font-weight: 1000;
}

.search-card {
  background-color: white;
  padding: 0px 10px;
  width: 70vw;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-card>button {
  color: #60c7a2;
  background-color: #343A40;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}
.sortbydatebtn{
  
  color: #60c7a2;
    background-color: #343A40;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 3vh;

}

.search-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-advanced-group {
  display: flex;
  gap: 5px;
  margin-bottom: -1vh;
}

#search-filter-boxes {
  display: grid;
  grid-template-columns:1fr 1fr;
  width: 35vw;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5vh;
}
#search-filter-boxes>:last-child> {
 margin: 0;
 
 
}
.search-checkbox {
  
  font-size: 16px;
  font-weight: 500;
  justify-self: center;
  
}

.search-checkbox>input {
  border: 0px;
}

#search-body-input {
  
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
  border: 0px;
}

#search-body-btn {
  background-color: #343A40;
  color: #60c7a2;
  border-radius: 5px;
  padding: 5px;
}
.dpdiv {

  display: grid;
  padding: 3px;
  margin-bottom: 1vh;


}

.dpdiv>:first-child {
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .search-card {
    max-width: 600px;
  }

  .search-error {
    max-width: 600px;
  }
}