.ticket-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.rightcol {
    align-self: center;
    justify-self: flex-end;
    margin-right: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.ticket-header {
    padding: 2vh
}

.artist-name {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.outercontainer {
    margin: 1vh;
}

#print-button {
margin-top: 10px;
    color: white;
    background-color: #60c7a2;
    border: 0;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    height: 35px;
}

.button-container>button {
    margin: 1vh;


}
button#print-button:hover,
button#print-button:active{
    font-size:120%;
    cursor: pointer;



}

@media screen and (max-width: 768px){
    #print-button{
        display: none;
    }
}