.ticket-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.rightcol {
    align-self: center;
    justify-self: flex-end;
    margin-right: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.ticket-header {
    padding: 2vh
}

.artist-name {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.outercontainer {
    margin: 1vh;
}

#print-button {
   
color: #60c7a2;
    background-color: #343A40;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}
.button-container>button{
    margin: 1vh;

}
