@import url("normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 64em) {
  body {
    margin: 0 8%;
  }
}

@media screen and (min-width: 120em) {
  body {
    margin: 0 12%;
  }
}

@media screen and (min-width: 160em) {
  body {
    margin: 0 16%;
  }
}